@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
 
body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

button {
    margin: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: #2e4a99;
    color: #fff;
    padding: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #5798fa;
    transition: background-color 0.2s;
  }
